.venv/
.idea/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.env
*.db
*.sqlite
*.sqlite3
.ipynb_checkpoints/

data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md

.DS_Store
Thumbs.db
